{% extends "base.html" %}
{% block content %}
<!-- Copyright (c) 2022. JJS-Software LLC -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Cablegram</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
 background: url(https://www.itl.cat/pngfile/big/157-1572191_hd-wallpapers-for-website-background-cool-background-image.jpg) repeat center center fixed;

}
.login-form {
    width: 340px;
    margin: 50px auto;
  	font-size: 15px;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {
    font-size: 15px;
    font-weight: bold;
}
text-center {
color: green;
}
</style>
</head>
<body>
<div class="login-form">
    <form action='/reg' method='POST'>

        <h2 class="text-center">Sign-Up</h2>
        <div class="form-group">
            <input type='text' class="form-control" name='first_name' id='first_name' placeholder='First Name'/>
         </div>
        <div class="form-group">
           <input type='text' class="form-control" name='last_name' id='last_name' placeholder='Last Name'/>
        </div>
        <div class="form-group">
            <input type='text' class="form-control" name='email' id='email' placeholder='Email'/>
         </div>
        <div class="form-group">
           <input type='password' class="form-control" name='password' id='password' placeholder='Password'/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Sign Up</button>
        </div>
        <!---div class="clearfix">
            <label class="float-left form-check-label"><input type="checkbox" name="rememberme"> Remember me</label>
            <a href="#" class="float-right">Forgot Password?</a>
        </div--->
    </form>
    <p class="text-center">already a member? &nbsp;<a href="/">Log in</a></p>
</div>
<center>
{% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                    <ul class=flashes>
                                        {% for message in messages %}
                                        <p style="color:red;"> {{ message }}</p>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    {% endwith %}
    </center>
{% endblock content %}
{% block footer %}<p>{{ version }}</p>{%- endblock footer %}